<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
{% include header.html %}
<section class="hero-banner">
    <h2>H2</h2>
    <p>P</p>
    <a href="/Spurt-Empire-Games/purchase" class="button">Button!</a>
</section>

<p class="copy-spurt">
    MAzi
</p>
<img src="{{ '/assets/images/Mazi.jpg' | relative_url }}" alt="Spurt! Empire Game Board" class="copy-image">
<section class="features">
    <h3>Bio</h3>
    <ul>
        <li>..</li>
        <li>..</li>
        <li>..</li>
    </ul>
</section>

{% include footer.html %}